
  html {
    font-family: GillSans, Calibri, Trebuchet, sans-serif;
  }
* {
    box-sizing: border-box;
}

#logo{
width:100px;
height:50px;
margin:8px;
border-radius:50%;
}
#rozpocznij{
    text-align:center;
    position:relative;
    margin-right:20%;
    margin-left:20%;
    width:60%;
    height:15%;
    margin-top:-160px;
    margin-bottom:1%;
    z-index: 1;
    opacity:0.8;
    line-height: 100px;
}
.slider{
    margin-top:1%;
}
#for{
    text-align:center;
    position:relative;
   
    width:30%;
    height:15%;
    margin-top:2%;
    margin-bottom:1%;
}
button .left{

}
.slider{
    z-index:1;
}
.nav-wrapper{
    background-color:rgb(69, 185, 2);
}